### ANS 1

In [2]:
def maximum(a, b, c):
  
    if (a >= b) and (a >= c):
        largest = a
  
    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c
          
    return largest
  
   
a = 20
b = 19
c = 33
print(maximum(a, b, c))

33

### ANS 2

In [4]:
def multiply(numbers):  
    total = 1
    for n in numbers:
        total *= n  
    return total  
print(multiply((2, 5, 4, 9, 6)))

2160

### ANS 3

In [8]:
def up_low(s):      
    u = sum(1 for i in s if i.isupper())
    l = sum(1 for i in s if i.islower())
    print( "No. of Upper case characters : %s, No. of Lower case characters : %s" % (u,l))

up_low("My name is ARNAV KUDAL and I am persuing BCA ")

No. of Upper case characters : 15, No. of Lower case characters : 20

### ANS 4

In [2]:
def isPalindrome(str):
 
    # Run loop from 0 to len/2
    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True
 
# main function
s = "malayalam"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

### ANS 5

In [3]:
list1 = [10,25,55,22,44,12,31,29,6,8]
# lambda exp.
even_no = list(filter(lambda x: (x % 2 == 0), list1))
print("Even numbers in the list: ", even_no)

Even numbers in the list:  [10, 22, 44, 12, 6, 8]