### ANS 1

In [5]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     
# Driver Code
duplicate = [12, 44, 90, 20, 90, 2, 20, 44]
print(Remove(duplicate))

[12, 44, 90, 20, 2]

### ANS 2

In [7]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = dict(d1) 

d3.update(d2) 

for i, j in d1.items():

    for x, y in d2.items():

        if i == x:

            d3[i]=(j+y)

print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

## ANS 3

In [12]:
tup = ('A', 'R', 'N', 'A', 'V', ' ', 'K','U','D','A','L')
str =  ''.join(tup)
print(str)

ARNAV KUDAL

### ANS 4

In [16]:
def Remove(sets):
    sets.discard(20)
    print (sets)
      
# Driver Code
sets = set([10, 20, 26, 41, 54, 20])
Remove(sets)

{41, 10, 54, 26}

### ANS 5

In [17]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'a', 'b', 'e'}
{'b', 'a', 'e'}
{'b', 'c', 'a', 'd'}
{'d', 'c', 'e'}

### ANS 6

In [18]:
print("PATTERN.......")

k=5

for i in range(12):

    if i<=5:

        for j in range(i+1):

            print(" * ",end="")

        print("\n")

    elif i>5 :

        for j in range(k+1):

            print(" * ",end="")

        print("\n")

        k=k-1

PATTERN.......
 *

 *  *

 *  *  *

 *  *  *  *

 *  *  *  *  *

 *  *  *  *  *  *

 *  *  *  *  *  *

 *  *  *  *  *

 *  *  *  *

 *  *  *

 *  *

 *

### ANS 7

In [19]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34